.ordersPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.ordersPage h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #fff;
}
