.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #f1f1f1;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.addButton {
  background: #ff9b05;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: background 0.2s;
}

.addButton:hover {
  background: #ffa622;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #2b2b2e;
}